<center><h1>Checklist for Reporting MLIPs</h1></center>
<p align="justify">
This checklist is designed for use with reporting the use of machine learning interatomic potentials in publications. More information on this checklist may be found in our publication in XXX. <br>
Updated versions may be found at the <a href="https://gitlab.com/szilvasi-group/mlip-reporting-checklist">Szilvasi Group Gitlab</a> and we encourage users of this checklist to make further suggestions if you believe there is something we missed. <br>
</p>
<center><h2>Training Data Acquisition</h2></center>
<p align="justify">
<input type="checkbox"> <b> Specify Training Data Source:</b> If using public repositories or literature data, specify the source, version number, and date accessed. If not all data from a source is used, describe the subset that was utilized.<br>
<input type="checkbox"> <b> Document DFT Parameters:</b> Reporting Density Functional Theory (DFT) parameters such as functional, basis set, and convergence criteria may be helpful even if data is taken from a public source.<br>
<input type="checkbox"> <b> Report on Single-Point Calculation Methods:</b> If used, describe the process of single-point calculations and the method for enumerating different configurations.<br>
<input type="checkbox"> <b> Include MD Simulation Details:</b> For dynamical simulations, report MD ensemble, timestep, thermostat/barostat settings, and any unique methods like contour exploration or minima hopping.<br>
<input type="checkbox"> <b> Document Biasing Potentials and Constraints:</b> If used, report biasing potentials and constraints applied in dynamical simulations.<br>
<input type="checkbox"> <b> Describe Training Data Selection Procedure:</b> Explain the process for selecting relevant training points from generated data if there is a down selection in data.  Full and down-selected data are useful to report. If active learning is used, criteria for selecting configurations for evaluation should be reported.<br>
<input type="checkbox"> <b> Ensure Consistency in Force Data:</b> Provide training data with original forces restored (i.e., no constraints or biases).<br>
<input type="checkbox"> <b> Avoid Mixing Data from Different Methods:</b> Ensure consistency in the data generation method throughout the data generation process.<br>
<input type="checkbox"> <b> Clarify Use of Delta Machine Learning:</b> If delta machine learning is used, clearly describe the model hierarchy and the relationship between different methods and how the data is generated for each.<br>
</p>

<center><h2>Training of MLIP</h2></center>
<p align="justify">
<input type="checkbox"> <b> Report Software and Hardware Versions:</b> Include the versions of MLIP software, Python, PyTorch/TensorFlow, CUDA, Operating System, and specifications of CPU/GPU used.<br>
<input type="checkbox"> <b> Report Numerical Precision:</b> If using GPUs, report the numerical precision used (FP32, FP64, TF32). When using CPUs, maximum precision should be used unless there is a strong reason not to.<br>
<input type="checkbox"> <b> Report Mixed Hardware Usage:</b> If different GPUs were used, report their types and specifications and how many were used in parallel. If using a combination of CPUs and GPUs, reporting their relative ratio is important.<br>
<input type="checkbox"> <b> Report CPU/GPU Hours:</b> Include the required CPU or GPU hours for training the MLIP model.<br>
<input type="checkbox"> <b> Report Training Environment:</b> Use an environment manager like Conda or Python’s venv for easy reporting of package versions.  If a shared HPC resource, such as NERSC, is used it may be helpful to report packages used even if they are locally available to that resource.<br>
<input type="checkbox"> <b> Report Model Parameters:</b> Provide detailed documentation of the model architecture, hyperparameters, and training methods.<br>
<input type="checkbox"> <b> Report Number of Trainable Parameters:</b> Report the number of trainable parameters for comparison but note the complexity differences.<br>
<input type="checkbox"> <b> Report Crucial Parameters in Main Document:</b> Report essential parameters (especially tuned ones) in the main document and delegate others to the SI.<br>
<input type="checkbox"> <b> Report Internal Configuration Files:</b> If available, include internal configuration or similar files for comprehensive settings documentation.  This often takes the form of a json or yaml file, but a plain text snippet of an output may suffice if all parameters are listed.<br>
<input type="checkbox"> <b> Provide Patches for Code Modifications:</b> If critical changes are made to the code, provide patches and document their role in the SI. We also encourage users to push these changes to the original developers to ensure that methods are maintained over time and reporting becomes simpler.<br>
<input type="checkbox"> <b> Report Neural Network Architecture and Descriptors:</b> Fully detail the architecture, layers, widths, features, learning rates, and loss functions of neural network potentials.<br>
<input type="checkbox"> <b> Report Equivariance Parameters:</b> If applicable, include parameters related to equivariance, such as symmetries and maximum tensor ranks.<br>
<input type="checkbox"> <b> Report Gaussian Process Hyperparameters:</b> Include optimized hyperparameters for model kernels and noise.<br>
<input type="checkbox"> <b> Report Training Data Details:</b> Document how training and validation data is added (per-atom basis or by entire atomic configuration) and provide the data in a research repository such as Zenodo121 or NOMAD122.<br>
<input type="checkbox"> <b> Report Hyperparameter Optimization:</b> The range of hyperparameters considered and benchmarked in the work should be reported and any trends observed may be helpful to report in the SI to guide future researchers in similar systems.<br>
<center><h2>Validation of MLIP</h2></center>
</p>

<p align="justify">
<input type="checkbox"> <b> Use a Representative Test Set:</b> Ensure the test set includes a variety of interactions and is not directly correlated with the training set.  Report the method of generating and selecting.<br>
<input type="checkbox"> <b> Compute and Report Error Metrics:</b> Calculate and report metrics such as MAE, MSE, MPE, and RMSE for energy, force, and stress.<br>
<input type="checkbox"> <b> Report Force Errors in Detail:</b> Include details of force error in terms of angle and magnitude.<br>
<input type="checkbox"> <b> Report Stress Errors:</b> Separate normal and shear components in stress error reporting.<br>
<input type="checkbox"> <b> Report Graphical Validation:</b> Present validation results graphically, using parity plots, error distributions, and heatmaps for all relevant tests.<br>
<input type="checkbox"> <b> Apply Kernel Density Estimation (KDE):</b> Use KDE for clarity in plots where data points overlap significantly. Report bandwidth and kernel function used.<br>
<input type="checkbox"> <b> Report Molecular Dynamics Properties Errors:</b> If available, report statistical results/errors like density, compressibility, radial distribution function, diffusion constants, or other MD derived results.<br>
<input type="checkbox"> <b> Report Thermodynamic Properties:</b> Report thermodynamic properties related to the research questions, such as many-body decomposition and static system analysis determined using single-point calculations.<br>
<input type="checkbox"> <b> Provide Comprehensive Graphical and Statistical Validation:</b> Include both statistical and graphical validation for thorough analysis. Provide tables of data if possible in supplementary information.<br>
<input type="checkbox"> <b> Report on Simulations at Evaluated Temperatures / Extreme Conditions:</b> Report any simulations that run to failure to understand the extrapolation behavior of the model and determine the mode of failure.<br>
<center><h2>Inference of MLIP</h2></center>
</p>

<p align="justify"></p>
<input type="checkbox"> <b> Report Software Versions:</b> Document the versions of software used for atomic simulations and any patches used for MLIP inference.<br>
<input type="checkbox"> <b> Provide Input Files:</b> Include direct input files for reproduction of the simulations.<br>
<input type="checkbox"> <b> Molecular Dynamics:</b> Report all control parameters such as thermostats, barostats, potentiostats, and timestep. Equilibration times and sampling times should be reported in text or visually in a graph of the sampled property.<br>
<input type="checkbox"> <b> Report Hardware Specifications:</b> Report the hardware used for the simulation, noting the evaluation speed in units of "atoms/second" and memory usage.<br>
<input type="checkbox"> <b> Report MLIP Limitations:</b> Report known limitations of the MLIP, especially related to temperature and pressure ranges.<br>
<input type="checkbox"> <b> Report MLIP Stability:</b> Report any stability issues encountered during MLIP inference, even if solutions are not available.<br>
<input type="checkbox"> <b> Report MLIP Augmentation:</b> If the MLIP is augmented with additional physical terms, describe all modifications in detail.<br>
<input type="checkbox"> <b> Report / Invest in Single-Point Calculations:</b> For large systems, use single-point calculations to verify MLIP accuracy.<br>
<input type="checkbox"> <b> Be Cautious with Experimental Comparisons:</b> Avoid using experimental data as the sole validation for MLIPs and clarify the context when reporting such comparisons.<br>
<input type="checkbox"> <b> Provide Scripts for Analysis:</b> When performing analysis, scripts should be provided for performing the analysis or the package which is used should be reported if directly supported.  Ensure code quality is good enough for a reader to analyze the method.<br>
</p>
